@import "tailwindcss";

@theme inline {
  --color-text: #1e1e1e;
  --color-text-secondary: #757575;
  --color-bg: #ffffff;
  --color-bg-transparent: #ffffffbf;
  --color-primary: #5519f4;
  --color-secondary: #a2d2ff;
  --color-accent: #f86fb2;

  --font-sans: "Rubik";
  --font-mono: "Space Mono";
}
