.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: var(--bg);
  text-align: center;
  align-items: center;
  box-shadow: 0 0 0 0 var(--primary);
  transition: 0.15s;
}

.card:hover {
  box-shadow: 10px 10px 0 0 var(--primary);
  transform: translate(-10px, -10px);
}

.card:active {
  box-shadow: 3px 3px 0 0 var(--primary);
  transform: translate(-3px, -3px);
}

.card:has(*) {
  gap: 32px;
  padding: 32px;
}

@media screen and (max-width: 900px) {
  .card {
    gap: 16px;
  }
}

.card svg:nth-child(1) {
  fill: var(--accent);
  width: 48px;
  height: 48px;
}

.card.left {
  text-align: left;
  align-items: start;
}

.card.right {
  text-align: right;
  align-items: end;
}
