.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: var(--bg);
  text-align: center;
  align-items: center;
}

.card:has(*) {
  gap: 32px;
  padding: 32px;
}

@media screen and (max-width: 900px) {
  .card {
    gap: 16px;
  }
}

.card svg:nth-child(1) {
  fill: var(--accent);
  width: 48px;
  height: 48px;
}

.card.left {
  text-align: left;
  align-items: start;
}

.card.right {
  text-align: right;
  align-items: end;
}
