header {
  min-height: 100dvh;
  padding-top: 150px;
  display: flex;
  align-items: end;
}

section {
  background-color: var(--bg-alpha);
  width: 900px;
  max-width: 100%;
  margin: 0 auto;
  padding: 64px;
  text-align: center;
}

@media screen and (max-width: 900px) {
  section {
    padding: 16px;
  }
}

section.grid {
  display: grid;
  gap: 16px;
  grid-template-columns: repeat(2, minmax(0, 1fr));
}

@media screen and (max-width: 900px) {
  section.grid {
    display: flex;
    flex-direction: column;
  }
}
